#mainApp .front-container.pomodoro-shift {
    transform: translateY(-10em);
    transition: transform 0.3s ease;
}

.pomodoro-toggle-button {
  position: fixed;
  cursor: pointer;
  color: #000000;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 1.6em;
  text-decoration: underline;
}

.pomodoro-toggle-button:hover {
  color: #ffffff;
}

.pomodoro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.pomodoro-left {
  display: flex;
  justify-content: left;
  gap: 0.8em;
  font-size: 4em;
}

.pomodoro-session-label {
  display: inline-block;
  width: 6ch;
  white-space: nowrap;
  text-align: left;
  flex: 0 0 6;
}

.pomodoro-button-group {
  display: flex;
  gap: 0px;
  justify-content: center;
  margin-left: 14px;
}

.pomodoro-button-group img {
  width: 1em;
  height: auto;
}

.pomodoro-formatted-timer {
  font-size: 10em;
}
