@charset "UTF-8";

body {
    font-family: "DotGothic16", serif;
    font-weight: 800;
    font-style: normal;
    user-select: none;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
}

.front-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.weather-card {
    display: flex;
    align-items: center;
}

.weather-icon {
    margin-right: 20px;
    width: auto;
    height: 12em;
}

.weather-holder {
    display: flex;
    flex-direction: column;
    font-size: 5ex;
}

.weather-city,
.weather-description,
.temperature {
    margin: 7px 0;
}

.time {
    font-size: 10em;
}